<!DOCTYPE html>
<html >
    <head>
       <title>Edit Branch</title>
    </head>
    <style>
       .field {
         margin: 1rem;
        }
    </style>
    <body>
        <form method="POST" action="">
            <div class="field">
                <label for="name">Name </label>
                    <span style="color: red">
                        <ul>
                            {% for error in name %}
                               <li> {{error}} </li>
                            {% endfor%}
                        </ul>
                    </span>
                <input type="text" id="name" name="name" value={{name_value}} >
            </div>

            <div class="field">
                <label for="transit_num">Transit Number </label>
                    <span style="color: red">
                        <ul>
                            {% for error in transit_num %}
                               <li> {{error}} </li>
                            {% endfor%}
                        </ul>
                    </span>
                <input type="text" id="transit_num" name="transit_num" value={{transit_num_value}}>
            </div>

            <div class="field">
                <label for="address">Address </label> 
                    <span style="color: red">
                        <ul>
                            {% for error in address %}
                                <li> {{error}} </li>
                            {% endfor%}
                        </ul>
                    </span>
                <input type="text" id="address" name="address" value={{address_value}}>
            </div>

            <div class="field">
                <label for="email">Email </label>
                    <span style="color: red">
                        <ul>
                            {% for error in email %}
                              <li> {{error}} </li>
                            {% endfor%}
                        </ul>
                    </span>
                <input type="email" id="email" name="email" value={{email_value}}>
            </div>

            <div class="field">
                <label for="capacity">Capacity </label>
                    <span style="color: red">
                        <ul>
                            {% for error in capacity %}
                               <li> {{error}} </li>
                            {% endfor%}
                        </ul>
                    </span>
               <input type="number" id="capacity" name="capacity" value={{capacity_value}}>
            </div>

            <div class="field">
                <input type="submit" value="Add">
            </div>
        </form>
    </body>
</html>